@import '../../assets/sass/main.scss';

.livePage {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    text-align: center;

    &_header {
        margin: 3.5rem 0;   
    }   

    &_radio_button, &_television_button {
       margin-bottom: 2rem; 
       display: flex;
       justify-content: center;
    }

    &_player {
        height: 40vh;
        display: flex;
        align-items: center;
    }

    &_error {
        color: $color-red;
        font-size: 1.2rem;
    }
}