@import '../../assets/sass/main.scss';

.spinner {
    width: 64px;
    height: 64px;
    margin: auto;

    &:after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid $color-blue;
        border-color: $color-blue transparent $color-blue transparent;
        animation: spinner 1.2s linear infinite;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  